<!-- Adjust your form to include name and checkbox inputs -->
<form action="#" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-4"><input class="form-control" type="text" name="name" id="name"></div>
    </div>

    <br>

    <!-- get meal -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Check all that apply:</label>
        <div class="col-sm-4">
            <label><input type="checkbox" name="answers[]" value="This quiz is easy!">This quiz is easy!</label><br>
            <label><input type="checkbox" name="answers[]" value="This quiz is somewhat difficult">This quiz is somewhat difficult</label><br>
            <label><input type="checkbox" name="answers[]" value="Why... :(">Why... :(</label><br>
        </div>
    </div>
    <br>

    <!-- submit button -->
    <div class="col-xs-3 ">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>
</form>
